@font-face{
  font-family: 'h1';
  src: url(../Assets/JaymontPersonalBold-z2Zl.ttf);
}

@font-face{
  font-family: 'h2';
  src: url(../Assets/JaymontPersonalMedium-9Jl0.ttf);
}

@font-face{
  font-family: 'p';
  src: url(../Assets/ProductSans-Light.ttf);
}